/** @format */
/*------------------- VARIABLER -------------------*/
* {
	--heading-color: #bf962c;
	--text-color: #c7b588;
	--main-color: #1f2735;
	--hover-color: #ffd0bc;
}

/*------------------- MENU -------------------*/

/*------------------- MAIN -------------------*/
@font-face {
	font-family: parklane;
	src: url(../assets/fonts/parklanenf-webfont.woff2);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	text-decoration: none;
	list-style: none;
	text-decoration: none;
}

body {
	background: var(--main-color);
	color: var(--text-color);
	overflow-x: hidden;
}

main,
footer {
	display: grid;
	grid-template-columns:
		minmax(1rem, 1fr)
		minmax(auto, 1200px)
		minmax(1rem, 1fr);
}

main > *,
footer {
	grid-column: 2;
	padding: 1.3rem;
}

img,
video {
	display: block;
	width: 100%;
	height: auto;
	margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--heading-color);
	font-family: "parklane", sans-serif;
	font-weight: 100;
	margin-bottom: 1rem;
}

h2 {
}
h3 {
}

p {
	margin-bottom: 1rem;
}
li,
a,
p {
	font-weight: 100;
	font-family: "Songti TC", serif;
}

a {
	color: var(--text-color);
}

button {
	color: var(--text-color);
	font-family: "Songti TC", serif;
}

/*------------------- MØNSTER BACKGROUND -------------------*/

.background {
	background-image: url("../assets/images/bg.svg");

	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.4;

	z-index: -10;
}

.background::before {
	content: "";
	background: linear-gradient(
		0deg,
		rgba(0, 0, 0, 0) 0,
		rgba(31, 39, 53, 1) 60%
	);
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 25vh;
}
.background::after {
	content: "";
	background: linear-gradient(
		180deg,
		rgba(0, 0, 0, 0) 0%,
		rgba(31, 39, 53, 1) 60%
	);
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100vw;
	height: 15vh;
}

/*------------------- FOOTER -------------------*/
footer {
	position: relative;
	display: grid;
	margin-top: 3rem;
	padding-bottom: 2rem;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

footer::before {
	content: "";
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 80%;
	height: 2px;
	background: var(--heading-color);
}

footer p,
footer a {
	text-align: center;
	margin-top: 1rem;
	font-size: 1rem;
}

/******* Menu *********/

.active {
	border-bottom: 2px solid var(--heading-color);
}

.navigations_menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#burger_wrapper {
	height: 2rem;
	margin-right: 0.5rem;

	cursor: pointer;
}

#menuknap {
	position: relative;
	z-index: 101;
	width: 100%;
	height: auto;
}

.streg_1,
.streg_2,
.streg_3 {
	height: 2px;
	width: 3rem;
	border-radius: 999px;

	background: var(--heading-color);
	transition: transform 250ms;
	transform-origin: bottom;
	z-index: 101;
}
.streg_1 {
	transform: translateY(-0.5rem);
}

.streg_3 {
	transform: translateY(0.5rem);
}

#menuknap.kryds .streg_1 {
	transform: rotate(45deg) translateY(calc(50% + (2px / 2)));
}
#menuknap.kryds .streg_2 {
	transform: translateY(-500%);
	opacity: 0;
}
#menuknap.kryds .streg_3 {
	transform: rotate(-45deg) translateY(calc(50% - (2px / 2)));
}

.menu_logo {
	width: 25vw;
	margin: 1rem 0 2rem 2rem;
}

.menu {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	background: var(--main-color);

	z-index: 100;
	transition: 250ms;
}

.menu li {
	font-size: 5rem;
	margin-left: 4rem;
}
.logo_desktop {
	display: none;
}
.menu.hidden {
	transition: 250ms;
	transform: translateY(-100%);
}

/******* DESKTOP / Media querries *********/
@media (min-width: 600px) {
	p {
		font-size: 1.3rem;
	}
	button {
		transition: 0.3s;
	}

	button:hover {
		background-color: var(--hover-color);
		color: var(--main-color);
	}

	/******* Menu - Media querries *********/

	main {
		margin-top: 10vh;
	}

	#menuknap {
		display: none;
	}

	#menu {
		background: var(--main-color);
	}

	#menu_logo {
		margin: 0;
		position: static;
		max-width: 13rem;
		height: auto;
	}

	.menu {
		position: fixed;
		top: 0;
		opacity: 1;
		display: flex;
		align-items: center;
		justify-content: space-around;
		flex-direction: row;

		height: 12vh;

		margin: 0;
		padding-bottom: 0;

		background: rgb(255, 255, 255);
		background: rgb(0, 0, 0);
		background: linear-gradient(
			0deg,
			rgba(0, 0, 0, 0) 0%,
			rgba(31, 39, 53, 0.4948354341736695) 13%,
			rgba(31, 39, 53, 0.6124824929971988) 18%,
			rgba(31, 39, 53, 0.8673844537815126) 26%,
			rgba(31, 39, 53, 1) 43%
		);
		z-index: 20;
	}

	.menu li {
		margin: 0;
		font-size: 2rem;
	}

	/* Nulstille .hidden classen */
	.menu.hidden {
		transition: none;
		transform: translateY(0);
	}

	.logo_desktop {
		display: block;
	}
	.logo_mobile {
		display: none;
	}

	#second {
		display: grid;
		grid-template-columns: 2fr 1fr;
	}

	#velkommen {
		grid-column-end: 2fr;
	}
}
