* {
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family: parklane;
  src: url(../parklanenf-webfont.woff2);
}

img,
video {
  display: block;
  width: 100%;
  height: auto;
}

main {
  padding: 2vw;
  margin: 2vw;
}
