body {
  background-color: #1f2735;
}

h2,
h3,
p {
  color: #dfc175;
}

h1 {
  font-size: clamp(4rem, 1.4286rem + 11.4286vw, 10rem);
  background-image: url(../assets/images/bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  font-family: parklane;
  color: #bf962c;
}

main .first {
  margin: 0;
  padding: 0;
}

header {
  padding-left: 2vw;
  margin-left: 2vw;
  padding-right: 2vw;
  margin-right: 2vw;
}

section {
  margin-bottom: 2vw;
}

/******* Menu *********/

#menuknap {
  font-size: 4rem;
}

ul {
  display: flexbox;
}

li {
  /* required for logo positioned in center */
  flex-basis: 80px;
  list-style: none;
}

a {
  padding: 0.5em;
  text-decoration: none;
  color: #bf962c;
  font-family: parklane;
}

a:hover {
  color: #ffd0bc;
  text-decoration: underline;
}

.hidden {
  display: none;
}

.logo {
  display: hidden;
}

#burger_wrapper {
  display: flex;
  justify-content: space-between;
}

#burger_logo img {
  height: 4rem;
}

#menuknap {
  color: #bf962c;
}

/******* DESKTOP / Media querries *********/
@media (min-width: 600px) {
  /******* Menu - Media querries *********/

  #menuknap {
    display: none;
  }

  ul {
    display: flex;
    justify-content: space-between;
  }

  .hidden {
    display: flex;
  }

  li:first-child,
  li:nth-child(n + 4) {
    order: 3;
  }

  li:nth-child(n + 4) {
    text-align: right;
  }

  #burger_logo {
    display: none;
  }

  #menu.hidden {
    transform: translateX(0);
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding-bottom: 0;
  }
}
